body {
    background-image: url(../../Techmoms/Source\ material/ink4.jpg);
 background-size: cover;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav li {
    display: inline-block;
}
.nav-btn {
    background-color: rgb(126, 18, 18);
    color: rgb(5, 5, 5);
    padding: 8px 17px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(86, 78, 78);
}
.text-center {
    text-align: center;
}
.biz-name {
    font-family: ;
}

.printbtn {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.photobtn {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}